[kelvins-server]
Environment = "dev"

[kelvins-http-server]
Network = "tcp"
ReadTimeout = 30
WriteTimeout = 30
IdleTimeout = 30

[kelvins-rpc-rate-limit]
MaxConcurrent = 0

[kelvins-rpc-auth]
Token = "c9VW6ForlmzdeDkZE2i8"
TransportSecurity = false
ExpireSecond = 100

[kelvins-rpc-server]
NumServerWorkers = 50

[kelvins-logger]
RootPath = "./logs"
Level = "debug"

[users-verify_code]
ExpireMinute = 100
SendPeriodLimitCount = 10
SendPeriodLimitExpireSecond = 3600
SendIntervalExpireSecond = 60

[kelvins-mysql]
Host = "mysql5_7:3306"
UserName = "root"
Password = "micro-mall"
DBName = "micro_mall_user"
Charset = "utf8"
PoolNum =  10
MaxIdleConns = 5
ConnMaxLifeSecond = 3600
MultiStatements = true
ParseTime = true

[kelvins-jwt]
Secret = "&WJof0jaY4ByTHR2"
TokenExpireSecond = 2592000

[kelvins-redis]
Host = "redis:6379"
Password = "oyuioyiuoyui"
DB = 1
PoolNum = 10

[kelvins-gpool]
WorkerNum = 10
JobChanLen = 1000

[queue-user-register-notice]
Broker = "amqp://root:micro-mall@rabbitmq:5672/micro-mall"
DefaultQueue = "user_register_notice"
ResultBackend = "redis://oyuioyiuoyui@redis:6379/8"
ResultsExpireIn = 3600
Exchange = "user_register_notice"
ExchangeType = "direct"
BindingKey = "user_register_notice"
PrefetchCount = 5
TaskRetryCount = 3
TaskRetryTimeout = 3600

[queue-user-state-notice]
Broker = "amqp://root:micro-mall@rabbitmq:5672/micro-mall"
DefaultQueue = "user_state_notice"
ResultBackend = "redis://oyuioyiuoyui@redis:6379/8"
ResultsExpireIn = 3600
Exchange = "user_state_notice"
ExchangeType = "direct"
BindingKey = "user_state_notice"
PrefetchCount = 5
TaskRetryCount = 3
TaskRetryTimeout = 3600

[user-info-search-notice]
Broker = "amqp://micro-mall:szJ9aePR@127.0.0.1:5672/micro-mall"
DefaultQueue = "user_info_search_notice"
ResultBackend = "redis://xxx@127.0.0.1:6379/8"
ResultsExpireIn = 3600
Exchange = "user_info_search_notice"
ExchangeType = "direct"
BindingKey = "user_info_search_notice"
PrefetchCount = 3
TaskRetryCount = 3
TaskRetryTimeout = 3600

[kelvins-g2cache]
CacheDebug = false
CacheMonitor = false
OutCachePubSub = false
FreeCacheSize = 52428800
RedisConfDSN = "127.0.0.1:6379"
RedisConfDB = 1
RedisConfPwd = "xxx"
RedisConfMaxConn = 30
PubSubRedisChannel = "micro-mall-users-pubsub-channel"
PubSubRedisConfDSN = "127.0.0.1:6379"
PubSubRedisConfDB = 9
PubSubRedisConfPwd = "xxxx"
PubSubRedisConfMaxConn = 3

[email-config]
Enable = false
User = "xxx@qq.com"
Password = "xx"
Host = "smtp.qq.com"
Port = "465"

[email-notice]
Receivers = "xx@qq.com"